<!-- Formulario de inicio de sesión -->
<div [style.display]="showLoginForm ? 'block' : 'none'">
  <h2>Iniciar sesión</h2>
  
  <!-- Nombre de usuario -->
  <label for="username">Nombre de usuario</label>
  <input type="text" id="username" (input)="onUsernameChange($event)">

  <!-- Contraseña -->
  <label for="password">Contraseña</label>
  <input type="password" id="password" (input)="onPasswordChange($event)">

  <!-- Botón para iniciar sesión -->
  <button (click)="onLogin()">Iniciar sesión</button>
</div>

<!-- Botón para mostrar/ocultar el formulario de login -->
<button (click)="toggleLoginForm()">
  {{ showLoginForm ? 'Ocultar Login' : 'Mostrar Login' }}
</button>
