/* Barra de navegación personalizada */
.navbar {
    background-color: #007bff;
  }
  
  .navbar .navbar-brand img {
    width: 100px; /* Tamaño del logo */
  }
  
  .navbar .nav-link {
    color: rgb(14, 13, 13) !important;
    font-weight: bold;
  }
  
  .navbar .nav-link:hover {
    color: #0f0f0f !important;
  }
  
  /* Estilo para el banner */
  .main-banner {
    background-color: #f7f7f7;
    padding: 50px 0;
    text-align: center;
  }
  
  .main-banner h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .main-banner p {
    font-size: 1.2rem;
    color: #555;
  }
  
  .main-banner img {
    width: 80%;
    margin-top: 20px;
  }
  
  /* Estilo de los productos */
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1rem;
    color: #666;
  }
  
  .card {
    margin-bottom: 30px;
  }
  
  /* Botones personalizados */
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-weight: bold;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  
  /* Espaciado entre los productos */
  .row {
    display: flex;
    justify-content: space-around;
  }
  
  .col-md-4 {
    max-width: 30%;
    margin-bottom: 30px;
  }
  
  /* Estilos para los botones de login y registro en el header */
  .navbar .navbar-nav {
    margin-left: auto;
  }
  
  .navbar .nav-item {
    margin-left: 15px;
  }
  
  .navbar .nav-link {
    font-size: 1rem;
    padding: 8px 20px;
  }
  
  .navbar .nav-link:hover {
    background-color: #ffbb00;
    border-radius: 5px;
  }
  
  /* Estilos para el footer */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  